.offcanvas__bg {
	background-color: transparent;
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
}

.nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: transparent;
	-webkit-backdrop-filter: blur(0);
	backdrop-filter: blur(0);
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.nav__item {
	margin-left: 2rem;
	color: #fff;
}

.nav__item:hover {
	color: #ececec;
}

.nav__logo {
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.nav__logo {
		height: 7rem;
	}

}

.sticky {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7098039216);
}